<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:button="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Curso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="script.js"></script>

    <style>
        #fundo {
            background-color: #e6f5f7;
        }

        #curx {
            width: 100%;
        }

        #texto {
            position: absolute;
            margin-top: -30px;
        }
    </style>
</head>

<body id="fundo">
<div th:replace="navbar :: menuNav"></div>

<img id="curx" th:src="@{/images/cursox.png}" style="width:100%">
<div id="texto">
    <h2 th:text="${curso.nome}"></h2>
</div>
<form id="favoritar" th:object="${usuario}" action="/addFav" method="POST">
    <button:hover><img id="favorito" th:src="@{/images/favoritop.png}" style="width:60px"></button:hover>
</form>

<p th:text="${curso.getDescricao()}"></p>


<h4>Melhores Universidades</h4>
<p th:text="${curso.getUniversidade1()}">1° Faculdade 1</p>
<p th:text="${curso.getUniversidade2()}">2° Faculdade 2</p>
<p th:text="${curso.getUniversidade3()}">1° Faculdade 3</p>


<h4>Notas de Corte</h4>
<p>SISU:</p>
<p th:text="${curso.getCorteSisu()}"></p>
<p>ProUNI:</p>
<p>Fuvest</p>
<p th:text="${curso.getCorteFuvest()}"></p>
<p>Convest:</p>

<div>
    <h4>Ainda em dúvida?</h4>
    <p>Confira alguns perfis de universitários e formados retratando a rotina do curso.</p>
    <p th:text="${curso.getInsta()}"></p>
</div>

</body>

</html>